.Convert{
    background: url(../image/PolkaDotsBg.png);
    min-height: 100vh;
    overflow: hidden;
    padding-top: 190px;
    box-sizing: border-box;
    @media (max-width:780px) {
        padding-top: 100px;
    }
    @media (max-width:500px) {
        padding-top: 40px;
    }
    .Title{
        font-size: 45px;
        color: #192E44;
        text-align: center;
        @media (max-width:500px) {
            font-size: 30px;
        }
    }
    .ConvertBox{
        width: 800px;
        margin:45px auto 0;
        border-radius: 30px;
        background: #FFFFFF;
        box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.03);
        padding: 30px 15px;
        @media (max-width:850px) {
            width: auto;
            margin: 47px 25px 0;
        }
        @media (max-width:600px) {
            margin: 27px 25px 0;
            padding: 15px 15px;
        }
        @media (max-width:450px) {
            margin: 10px 25px 0;
        }
        .JtPosition{
            position: relative;
            .ConvertJt{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
        .label{
            color: #AAAAAA;
            font-size: 24px;
            padding: 0 28px;
            @media (max-width:600px) {
                font-size: 16px;
                padding: 0 14px;
            }
        }
        .put{
            border: 1px solid #000000;
            border-radius: 30px;
            height: 87px;
            margin-top: 8px;
            overflow: hidden;
            padding: 0 28px;
            display: flex;
            align-items: center;
            @media (max-width:600px) {
                padding: 0 10px;
                height: 56px;
            }
            @media (max-width:450px) {
                padding: 0 10px;
                height: 46px;
            }
            input{
                border: none;
                outline: none;
                height: 100%;
                font-size: 35px;
                color: #AAAAAA;
                background: transparent;
                flex: 1;
                width: 100%;
            }
            .Max{
                color: #000000;
                font-size: 22px;
                @media (max-width:600px) {
                    font-size: 14px;
                }
            }
            .TokenInfo{
                // width: 170px;
                box-sizing: border-box;
                height: 60px;
                border-left: 1px solid #D8D8D8;
                margin-left: 20px;
                padding: 0 40px;
                color: #000000;
                font-size: 22px;
                @media (max-width:600px) {
                    padding: 0 10px;
                    margin-left: 10px;
                    font-size: 14px;
                }
                img{
                    margin-right: 10px;
                    @media (max-width:600px) {
                        width: 18px;
                    }
                }
            }
        }
        .label:nth-child(3){
            margin-top: 65px;
            @media (max-width:600px) {
                margin-top: 30px;
            }
        }
        .ServiceCharge{
            margin-top: 13px;
            color: #AAAAAA;
            font-size: 22px;
            padding:0 28px;
            @media (max-width:600px) {
                font-size: 16px;
                padding: 0 14px;
            }
        }
        .submit{
            background: #D8D8D8;
            height: 56px;
            border-radius: 30px;
            color: #FFFFFF;
            font-size: 28px;
            margin-top: 70px;
            margin-bottom: 40px;
            @media (max-width:600px) {
                height: 46px;
                font-size: 16px;
                margin-top: 30px;
                margin-bottom: 20px;
            }
        }
    }
    .goRecord{
        color: #767676;
        font-size: 24px;
        text-align: center;
        width: max-content;
        margin: 110px auto;
        @media (max-width:600px) {
            margin: 40px auto;
            font-size: 18px;
        }
    }
}