.Swap{
    background: url(../image/PolkaDotsBg.png);
    overflow: hidden;
    padding-top: 110px;
    box-sizing: border-box;
    min-height:calc(100vh - 78px);
    @media (max-width:800px) {
        min-height:calc(100vh - 40px);
    }
    @media (max-width:780px) {
        padding-top: 100px;
    }
    @media (max-width:500px) {
        padding-top: 40px;
    }
    .Title{
        font-size: 45px;
        color: #192E44;
        text-align: center;
        @media (max-width:500px) {
            font-size: 30px;
        }
    }
    .SwapBox{
        width: 800px;
        // height: 750px;
        background: #FFFFFF;
        border-radius: 30px;
        box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.03);
        margin: 47px auto 0;
        padding-bottom: 35px;
        @media (max-width:850px) {
            width: auto;
            margin: 47px 25px 0;
        }
        @media (max-width:600px) {
            margin: 27px 25px 0;
        }
        @media (max-width:350px) {
            margin: 27px 15px 0;
        }
        
        .Tabs{
            padding: 40px 40px 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width:600px) {
                padding: 25px 20px 15px;
            }
            // .tabItem{
            //     font-size: 24px;
            //     color: #000000;
            //     margin-right: 43px;
            //     cursor: pointer;
            //     @media (max-width:600px) {
            //         font-size: 20px;
            //     }
            // }
            // .tabItemActive{
            //     font-weight: bold;
            // }
            .SlippageIcon{
                display: flex;
                justify-content: flex-end;
                img{
                    width: 30px;
                    cursor: pointer;
                    @media (max-width:600px) {
                        width: 26px;
                    }
                }
            }
        }
        .putMain{
            margin: 0 15px;
            position: relative;
            // display: flex;
            // flex-direction: column;
            // flex-direction: column-reverse;
            height:267px;
            @media (max-width:600px) {
                height: 160px;
            }
            // position: relative;
            .ChangeIcon{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 10;
                transform: translate(-50%,-50%);
                transition: all 0.5s;
                @media (max-width:600px) {
                    width: 50px;
                }
            }
            .ChangeIconReverse{
                transform: translate(-50%,-50%) rotate(180deg);
            }
            .top{
                top: 0;
            }
            .bottom{
                top: 180px;
                @media (max-width:600px) {
                    top: 110px;
                }
            }
            .putRow{
                position: absolute;
                height: 87px;
                width: 100%;
                box-sizing: border-box;
                transition: all 0.5s;
                border-radius: 30px;
                background: #EEEEEE;
                display: flex;
                align-items: center;
                padding: 0 25px;
                transition: all 0.5s;
                @media (max-width:600px) {
                    height: 46px;
                    padding: 0 10px;
                }
                input{
                    width: 100%;
                    flex: 1;
                    border: none;
                    outline: none;
                    background:transparent;
                    color: #AAAAAA;
                    font-size: 35px;
                    flex-shrink:1;
                }
                .token{
                    width: 110px;
                    height: 40px;
                    border-radius: 30px;
                    background: #B6CDFF;
                    color: #000;
                    font-size: 18px;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    // justify-content: center;
                    padding-left: 10px;
                    box-sizing: border-box;
                    @media (max-width:600px) {
                        width: 88px;
                        height: 32px;
                        font-size: 14px;
                    }
                    @media (max-width:450px) {
                        width: 77px;
                        height: 28px;
                        font-size: 14px;
                    }
                    img{
                        margin-right: 15px;
                        @media (max-width:600px) {
                            margin-right: 8px;
                            width: 18px;
                        }
                    }
                }
            }
            // .putRow:nth-child(3){
            //     margin-top: 30px;
            //     @media (max-width:600px) {
            //         margin-top: 20px;
            //     }
            // }
        }
        .reverse{
            flex-direction:column-reverse;
        }
        .swapInfo{
            margin: 20px 15px 0;
            border-radius: 30px;
            padding:20px 25px;
            border: 1px solid #EEEEEE;
            .increaseRow{
                display: flex;
                align-items: flex-end;
                justify-content:space-between;
                border-bottom: 1px solid #D8D8D8;
                padding-bottom: 7px;
                margin-bottom: 8px;
                @media (max-width:600px) {
                    flex-direction: column-reverse;
                    align-items:center;
                    // justify-content:;
                }
                .increaseText{
                    font-size: 14px;
                    color: #3D3D3D;
                }
            }
            .InfoRow{
                display: flex;
                justify-content:space-between;
                font-size: 14px;
                color: #3D3D3D;
                margin-bottom: 15px;
                @media (max-width:600px) {
                    margin-bottom: 10px;
                }
            }
            .InfoRow:nth-last-of-type(1){
                margin: 0;
            }
            .borderTop{
                border-top: 1px solid #D8D8D8;
                padding-top: 15px;
            }
        }
        .submit{
            height: 56px;
            background: #FFAA00;
            border-radius: 30px;
            font-size: 28px;
            color: #FFFFFF;
            margin: 25px 15px 0;
            @media (max-width:600px) {
                height: 46px;
                font-size: 22px;
            }
            svg {
                width: 1.5em;
                transform-origin: center;
                animation: rotate 2s linear infinite;
                margin-right: 10px;
              }
              circle {
                fill: none;
                stroke: #fc2f70;
                stroke-width: 5;
                stroke-dasharray: 1, 200;
                stroke-dashoffset: 0;
                stroke-linecap: round;
                animation: dash 1.5s ease-in-out infinite;
              }
              @keyframes rotate {
                100% {
                  transform: rotate(360deg);
                }
              }
              @keyframes dash {
                0% {
                  stroke-dasharray: 1, 200;
                  stroke-dashoffset: 0;
                }
                50% {
                  stroke-dasharray: 90, 200;
                  stroke-dashoffset: -35px;
                }
                100% {
                  stroke-dashoffset: -125px;
                }
              }
        }
        .Disabled{
            background: #D8D8D8;
            color: #AAAAAA;
            cursor: no-drop;
        }
    }
    .goRecord{
        color: #767676;
        font-size: 24px;
        text-align: center;
        width: max-content;
        margin: 110px auto;
        @media (max-width:600px) {
            margin: 40px auto;
            font-size: 18px;
        }
    }
}