.Wallet{
    background: url(../image/PolkaDotsBg.png);
    min-height: 100vh;
    overflow: hidden;
    padding-top: 190px;
    .Title{
        font-size: 45px;
        color: #192E44;
        text-align: center;
    }
    .UserInfo{
        width: 800px;
        border-radius: 15px;
        background: #fff;
        overflow: hidden;
        margin: auto;
        .Info{
            background: url(../image/UserInfoBg.png) no-repeat center center / 100% 100%;
            height: 210px;
            padding: 40px 110px 0;
            box-sizing: border-box;
            .address{
                display: flex;
                align-items: center;
                .userHeaderBox{
                    padding: 3px;
                    background: linear-gradient(180deg, #EB6120 29%, #ED059B 100%);
                    border-radius: 50%;
                }
                .userHeader{
                    width: 50px;
                    height: 50px;
                    background: #E0EAFF;
                    border-radius: 50%;
                }
                span{
                    font-size: 18px;
                    color: #000000;
                    margin-left: 10px;
                }
                .copyIcon{
                    margin-left: 8px;
                }
                .VipIcon{
                    margin-left: 6px;
                }
            }
            .inviteLink{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 15px;
                span{
                    font-size: 18px;
                    color: #000000;
                }
                .Withdraw{
                    width: 180px;
                    height: 56px;
                    border-radius: 30px;
                    border: 0px solid #FFFFFF;
                    color: #FFFFFF;
                    font-size: 20px;
                    background: #FFAA00;
                }
            }
        }
        .TotalInfo{
            height: 130px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            .TotalItem{
                width: 170px;
                .TotalLabel{
                    font-size: 15px;
                    line-height: 1.46;
                    color: #000000;
                }
                .TotalValue{
                    font-size: 24px;
                    line-height: 2;
                    background: linear-gradient(180deg, #EB6120 29%, #ED059B 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
            }
        }
    }
    .pledgeFee{
        box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.03);
        background: #EAEAEA;
        width: 800px;
        height: 135px;
        margin: 37px auto 0;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content:space-between;
        padding: 0 60px;
        box-sizing: border-box;
        .separate{
            height: 60%;
            border-right: 1px solid #000000;
        }
        .pledgeFeeItem{
            .pledgeFeeItemLabel{
                color: #000000;
                font-size: 15px;
            }
            .pledgeFeeItemValue{
                color: #000000;
                font-size: 24px;
                line-height: 2;
            }
        }
    }
    .pledged{
        width: 800px;
        height: 120px;
        background: #FFFFFF;
        margin:37px auto 0;
        border-radius: 15px;
        padding: 0 60px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        >span{
            color: #192E44;
            font-size: 24px;
        }
        .pledgedGo{
            display: flex;
        }
        .pledgedELFT,.pledgedLFT{
            width: 180px;
            height: 45px;
            border-radius: 30px;
        }
        .pledgedLFT{
            background: #FFAA00;
        }
        .pledgedELFT{
            background: #FF25B2;
            margin-left: 17px ;
        }
    }
}