.Footer{
    border-top: 1px solid #232323;
    height: 52px;
    display: flex;
    align-items: center;
    .FooterContent{
        max-width: 1075px;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .FooterItemRow{
            display: flex;
            .FooterItem{
                display: flex;
                align-items: center;
                color: rgba(255, 255, 255, 0.92);
                font-size: 15px;
                font-family: Rubik-Regular;
                margin-left: 50px;
                .point{
                    width: 8.5px;
                    height: 8.5px;
                    background: #D8D8D8;
                    border-radius: 50%;
                    margin-right: 7px;
                }
            }
        }
    }
}