.Header{
    max-width: 950px;
    position: fixed;
    width: 100%;
    left: 50%;
    transform:translateX(-50%);
    z-index: 10;
    margin:  38px auto 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    @media (max-width:1000px) {
        margin: 38px 25px 0;
        left: 0;
        transform:translateX(0);
        width: calc(100% - 50px);
    }
    .Menu{
        display: flex;
        @media (max-width:800px) {
            display: none;
        }
        .MenuItem{
            margin-right: 60px;
            display: flex;
            align-items: center;
            color: #fff;
            img{
                height: 20px;
                margin-right: 5px;
            }
        }
        .BlackMenuItem{
            color: #192E44;
        }
    }
    .HeaderRight{
        display: flex;
        @media (max-width:800px) {
            display: none;
        }
        .connect{
            background: #FFAA00;
            width: 180px;
            height: 40px;
            border-radius: 35px;
            font-size: 18px;
            color: #fff;
        }
        .Lang{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #FFAA00;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 6px;
        }
    }
    .MenuIcon{
        display: none;
        @media (max-width:800px) {
            display: block;
        }
    }
    .nt-drawer-header{
        display: none !important;
    }
}
.DrawerBody{
    background: #FFAA00 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 64px;
    }
}