.Header{
    max-width: 950px;
    position: fixed;
    width: 100%;
    left: 50%;
    transform:translateX(-50%);
    z-index: 10;
    margin:  38px auto 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    @media (max-width:1000px) {
        margin: 38px 25px 0;
        left: 0;
        transform:translateX(0);
        width: calc(100% - 50px);
    }
    @media (max-width:800px) {
        margin: 0 25px;
        flex-direction: row-reverse;
    }
    .Menu{
        display: flex;
        @media (max-width:800px) {
            display: none;
        }
        .MenuItem,.HoverMenuItem{
            margin-right: 60px;
            display: flex;
            align-items: center;
            color: #fff;
            cursor: pointer;
            img{
                height: 20px;
                margin-right: 5px;
            }
        }
        .HoverMenuItem:hover{
            color: #FFAA00;
            >img{
                content: url(../../image/AboutIconOrange.png);
            }
        }
        .activeMenuItem{
            color: #FFAA00;
        }
        .BlackMenuItem{
            color: #192E44;
        }
    }
    .HeaderRight{
        display: flex;
        @media (max-width:800px) {
            display: none;
        }
        .connect{
            background: #FFAA00;
            width: 180px;
            height: 40px;
            border-radius: 35px;
            font-size: 18px;
            color: #fff;
        }
        .Lang{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #FFAA00;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 6px;
        }
    }
    .MenuIcon{
        display: none;
        @media (max-width:800px) {
            display: block;
        }
    }
    .nt-drawer-header{
        display: none !important;
    }
}
.DrawerBody{
    background: #FFAA00 !important;
    .ant-drawer-body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img{
        width: 64px;
        margin-bottom: 30px;
        text-align: center;
    }
}
.DrawerMenuItem{
    color: #fff;
    margin-bottom: 15px;
    width: 100%;
}
.AboutPopover{
    .ant-popover-inner{
        padding: 0;
        border-radius: 15px;
    }
    .ant-popover-arrow:before{
        background: #505050 !important;
    }
    .AboutPopoverContent{
        width: 200px;
        background: #505050;
        border-radius: 15px;
        padding: 20px 24px;
        box-sizing: border-box;
        .SelItem{
            height: 36px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
            font-size: 18px;
            img{
                margin-right: 5px;
            }
        }
        .SelItem:hover{
            color: #FFAA00;
        }
    }
    .AboutPopoverContent:hover{

    }
}
svg {
    width: 1.5em;
    transform-origin: center;
    animation: rotate 2s linear infinite;
  }
  
  circle {
    fill: none;
    stroke: #fc2f70;
    stroke-width: 5;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dashoffset: -125px;
    }
  }